body {
  /* background-image: linear-gradient(to bottom, #db849e, rgb(252, 238, 162), rgb(252, 247, 221)); */
  background-image: linear-gradient(to bottom,  rgb(252, 247, 221),white);
/* OG: rgb(252, 247, 221) to white */
}
  
  .step-links a{
  color: #4285F4;
  }
  

   /* ==================== header stuff ==================*/
  .header {
    color: rgb(102, 102, 102);
    /* color: white; */
    font-weight: bold;
    font-size: 75px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
  }

  .subtitle {
    color: rgb(105, 105, 105);
    font-size: 125%;
    font-family: 'Raleway', sans-serif;
  }

  /* ==================== question stuff ==================*/
  .question {
    text-align: right;
    font-size: 160%;
    font-family: 'Raleway';
  }

  input::placeholder {
font-family: 'Raleway';  }

    /* ==================== gif stuff ==================*/
    img.animated-gif {
      width: 300px;
  height: auto;
    }

    /* ==================== button stuff ==================*/
  button {
    color:white;
    padding: 2%;
    border-radius: 5%;
    border: none;
    margin: 2%;
    width: 15%;
    font-family: 'Raleway', sans-serif;
  }


  .emoji{
    font-size: 170%;
    display: block;
  }

  .opt-btn {
    font-size: 125%;
  }

  .default-mode{
    color:white;
    background-color: rgb(236, 144, 128);
    /* background-color: rgb(236, 144, 128); */
  }
    /* OG: #FF836C */
    /* rgb(236, 144, 128) */

/* Ripple effect */
  .ripple {
    background-position: center;
    transition: background 0.3s;
  }
  .ripple:hover {
    background: rgba(236, 61, 34, 0.8) radial-gradient(circle, transparent 50%, rgb(236, 61, 34) 1%) center/300%;
  }
  .ripple:active {
    background-color: rgba(207, 47, 23, 0.8);
    background-size: 100%;
    transition: background .2s;
  }
  
  .default-mode:hover{
    color:white;
    background-color: rgba(236, 61, 34, 0.8);
  }
  
  .default-mode:active{
    background-color: rgba(236, 61, 34, 0.8);
  }

  .button-clicked {
    background-color:  rgba(236, 61, 34, 0.8);
  } 

 .submit-btn {
   font-size: 150%;
   width: 40%;
 }
  
  .occasion-div {
    width: 51%;
  }

  .age-div {
    width: 51%;
  }

 /* ==================== slider stuff ==================*/

 input[type=range] {
   width: 500px;
 }

 #slider {
   display: block;
   text-align: center;
   margin: 0 auto;
   width: 500px;
  }

  #demo {
    font-family: 'Raleway', sans-serif;
    margin-top: 8px;

  }

 /* ==================== results ==================*/

 .result-box {
   /* background-color: rgba(202, 202, 202, 0.7); */
   background-color: rgb(236, 144, 128);
   margin: 2%;
   padding: 3%;
   border-radius: 30px;

 }

 #results-begin {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
 }

.make-bold {
  font-weight: bold;
}

#fake-age-span, #fake-occasion-span{
  display: none
}

.review-box {
  background-color: rgba(255,255,255,0.5);
  /* background-color: rgba(236, 144, 128, 0.6); */
  border-radius: 15px;
  padding: 4%;
  text-align: left;
  margin-bottom: 2%;
  max-height: 400px;
  width: 450px;
}

.product-img {
  max-width: 400px;
  height: 250px;
}

.product-title {
  font-weight: bold;
  font-size: 125%;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.product-price {
  display: block;
  font-size: 110%;
  margin-bottom: 4%;
  color: rgb(54, 52, 52);
  font-family: 'Raleway', sans-serif;
}

.review-text {
  margin-bottom: 4%;
  font-family: 'Raleway', sans-serif;
  display: block;
}

.over-scroll {
  overflow: scroll;
}

.link {
font-family: 'Raleway', sans-serif;
/* color: rgb(54, 52, 52); */
color: white;
font-weight: bold;
}

.link:hover {
  color: white;
}

.relevant-reviews {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: black;
}

i {
  color: #189782;
  font-size: 18px;
  font-style:normal;
}

