body {
  /* background-image: linear-gradient(to bottom, #db849e, rgb(252, 238, 162), rgb(252, 247, 221)); */
  background-image: linear-gradient(to bottom,  rgb(252, 247, 221),white);
/* OG: rgb(252, 247, 221) to white */
}
  
  .step-links a{
  color: #4285F4;
  }
  

   /* ==================== header stuff ==================*/
  .header {
    color: rgb(102, 102, 102);
    /* color: white; */
    font-weight: bold;
    font-size: 75px;
    font-family: 'Raleway', sans-serif;

  }

  .subtitle {
    color: rgb(105, 105, 105);
    font-size: 125%;
  }

  /* ==================== question stuff ==================*/
  .question {
    text-align: right;
    font-size: 160%;
  }

    /* ==================== button stuff ==================*/
  button {
    color:white;
    padding: 2%;
    border-radius: 5%;
    border: none;
    margin: 2%;
    width: 15%;
  }


  .emoji{
    font-size: 170%;
    display: block;
  }

  .opt-btn {
    font-size: 125%;
  }

  .default-mode{
    color:white;
    background-color: rgb(236, 144, 128);
    /* background-color: rgb(236, 144, 128); */
  }
    /* OG: #FF836C */
    /* rgb(236, 144, 128) */

/* Ripple effect */
  .ripple {
    background-position: center;
    transition: background 0.3s;
  }
  .ripple:hover {
    background: rgba(236, 61, 34, 0.8) radial-gradient(circle, transparent 50%, rgb(236, 61, 34) 1%) center/300%;
  }
  .ripple:active {
    background-color: rgba(207, 47, 23, 0.8);
    background-size: 100%;
    transition: background .2s;
  }
  
  .default-mode:hover{
    color:white;
    background-color: rgba(236, 61, 34, 0.8);
  }
  
  .default-mode:active{
    background-color: rgba(236, 61, 34, 0.8);
  }

  .button-clicked {
    background-color:  rgba(236, 61, 34, 0.8);
  } 

 .submit-btn {
   font-size: 150%;
   width: 40%;
 }
  
  .occasion {
    width: 50%;
  }

  .age {
    width: 50%;
  }

 /* ==================== slider stuff ==================*/

 input[type=range] {
   width: 500px;
 }

 #slider {
   display: block;
   text-align: center;
   margin: 0 auto;
   width: 500px;
 }

 /* ==================== results ==================*/

 .result-box {
   background-color: rgba(202, 202, 202, 0.7);
   margin: 2%;
   padding: 3%;
   border-radius: 30px;
 }

.make-bold {
  font-weight: bold;
}

#fake-age-span, #fake-occasion-span{
  display: none
}

.info-box {
}

.review-box {
  background-color: rgba(255,255,255,0.8);
  border-radius: 15px;
  padding: 4%;
  text-align: left;
  margin-bottom: 2%;
}

.link-box {

}

.data-box {

}

.product-img {
  width: 200px;
}

.product-title {
  font-weight: bold;
  font-size: 120%;
}

.product-price {
  display: block;
  font-size: 120%;
  margin-bottom: 4%;
  color: rgb(80, 80, 80);
}

.review-text {
  margin-bottom: 4%;
}