body {
  background-image: linear-gradient(to bottom, rgb(252, 247, 221), white);

}
  
  .step-links a{
  color: #4285F4;
  }
  

   /* ==================== header stuff ==================*/
  .header {
    color: rgb(102, 102, 102);
    font-weight: bold;
    font-size: 75px;
    font-family: 'Raleway', sans-serif;

  }

  .subtitle {
    color: rgb(105, 105, 105);
    font-size: 125%;
  }

  /* ==================== question stuff ==================*/
  .question {
    text-align: right;
    font-size: 160%;
  }

    /* ==================== button stuff ==================*/
  button {
    color:white;
    padding: 2%;
    border-radius: 5%;
    border: none;
    margin: 2%;
    width: 15%;
  }


  .emoji{
    font-size: 170%;
    display: block;
  }

  .opt-btn {
    font-size: 125%;
  }

  .default-mode{
    color:white;
    background-color: rgb(236, 144, 128);
  }
    /* OG: #FF836C */

/* Ripple effect */
  .ripple {
    background-position: center;
    transition: background 0.3s;
  }
  .ripple:hover {
    background: rgb(236, 61, 34) radial-gradient(circle, transparent 50%, rgb(236, 61, 34) 1%) center/300%;
  }
  .ripple:active {
    background-color: rgb(207, 47, 23);
    background-size: 100%;
    transition: background .2s;
  }
  
  .default-mode:hover{
    color:white;
    background-color: rgb(236, 61, 34);
  }
  
  .default-mode:active{
    background-color: rgb(236, 61, 34);
  }

  .button-clicked {
    background-color:  rgb(236, 61, 34);
  } 

 .submit-btn {
   font-size: 150%;
   width: 40%;
 }
  
  .occasion {
    width: 50%;
  }

  .age {
    width: 50%;
  }

 /* ==================== slider stuff ==================*/

 input[type=range] {
   width: 500px;
 }

 #slider {
   display: block;
   text-align: center;
   margin: 0 auto;
   width: 500px;
 }

 /* ==================== results ==================*/


.make-bold {
  font-weight: bold;
}

#fake-age-span, #fake-occasion-span{
  display: none
}