<html>

<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <div class="topcorner">
        <p>Project Name: {{ name }}</p>
        <p>Student Name: ({{ netid }})</p>
    </div>
    <form class="form-inline global-search">
        <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
            <span style="color: #DF0101; ">G</span>
            <span style="color: #FF8000; ">i</span>
            <span style="color: #FACC2E; ">f</span>
            <span style="color: #298A08; ">t</span>
            <span style="color: #0404B4; ">e</span>
            <span style="color: #29088A; ">r</span>
            <span style="color: #7401DF; ">.</span>
            <span style="color: #7401DF; ">a</span>
            <span style="color: #B40486; ">i</span>
        </h1>

        <br><br>


        <br />
        <br />
        What's the occasion?
        <div class="occasion">
            <br />
            <button type="button" class="btn btn-info"> birthday 🎈 </button>
            <button type="button" class="btn btn-info"> wedding 👰 </button>
            <button type="button" class="btn btn-info"> holiday 🎉</button>
            <button type="button" class="btn btn-info"> misc 🤷 </button>
        </div>

        <br />
        <br />
        How old is the recipient?
        <div class="age">
            <br />
            <button type="button" class="btn btn-info"> babies 👶 </button>
            <button type="button" class="btn btn-info"> children 🧒</button>
            <button type="button" class="btn btn-info"> teens 🧑</button>
            <button type="button" class="btn btn-info"> adults 🤦</button>
        </div>

        <br />
        <br />
        What is your budget?
        <div class="slidecontainer">
            <br />
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange" name="price">
            <p>$<span id="demo"></span></p>
        </div>

        <br />
        <br />
        The person I'm gifting enjoys...
        <div class="form-group">
            <input id="input" type="text" name="search" class="form-control"
                placeholder="i.e. camping, music or leave it blank">
        </div>
        <button type="submit" class="btn btn-info"> Surprise Me! </button>
        <br />
        <br />






    </form>

    <script>
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value;

        slider.oninput = function () {
            output.innerHTML = this.value;
        }
    </script>

    <form class="form-inline global-search">
        {% if data %}
        <h1>{{output_message}}</h1>
        {% for d in data %}
        <br>
        <a href="http://www.amazon.com/dp/{{asins[loop.index - 1]}}">{{d}}</a>
        {% endfor %}
        {% endif %}
    </form>




</body>

</html>