<html>

<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/static/Skeleton-2.0.4/css/skeleton.css"> -->
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/styling.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>

<body>
    <!-- <div class="topcorner">
        <p class="name">Project Name: {{ name }}</p>
        <p>Student Names: {{ netid }}</p>
    </div> -->
    <form class="form-inline global-search">
        <h1 class=" header">
            gifter.ai🎁
        </h1>

        <br><br>

        <h4 class="subtitle"> let's help you find the perfect gift for someone! </h4>

        <br />
        <br />
        <br />
        <br />
        <h5 class="question"> what's the occasion? </h5>
        <br>
        <br>

        <div class="occasion">
            <button type="button" name="occasion" value="birthday" class="occasion ripple opt-btn default-mode">birthday
                <span class="emoji">🎈</span> </button>
            <button type="button" name="occasion" value="wedding" class="occasion ripple opt-btn default-mode"> wedding
                <span class="emoji">👰</span> </button>
            <button type="button" name="occasion" value="holidays" class="occasion ripple opt-btn default-mode">
                holidays <span class="emoji">❄️</span></button>
            <button type="button" name="occasion" value="other" class="occasion ripple opt-btn default-mode"> ¯\_(ツ)_/¯
                <span class="emoji">🤷</span></button>
        </div>
        </br>

        <br />
        <br />
        <h5 class="question">how old is the recipient?</h5>
        <br>

        <div class="age">
            <br />
            <button type="button" name="age" value="babies" class="ripple opt-btn default-mode age"> babies <span
                    class="emoji">👶</span></button>
            <button type="button" name="age" value="children" class="ripple opt-btn default-mode age"> children
                <span class="emoji">🧒</span></button>
            <button type="button" name="age" value="adults" class="ripple opt-btn default-mode age"> adults <span
                    class="emoji">🙍</span></button>
            <button type="button" name="age" value="elders" class="ripple opt-btn default-mode age"> elderly <span
                    class="emoji">🧓</span></button>
        </div>
        </br>

        <br />
        <br />
        <h5 class="question">what is your budget?</h5>
        <br>
        <div>
            <br />
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange" name="price">

            <p>$<span id="demo"></span></p>
        </div>
        <br>
        <br>
        <input type="text" class="sliderValue" data-index="0" value="10" />
        <input type="text" class="sliderValue" data-index="1" value="90" />
        <br>
        <br>
        <div id="slider"></div>

        <br />
        <br />
        <br>
        <h5 class="question">the person I'm gifting enjoys...</h5>
        <br>
        <br>

        <div id="giftGif" style="display:none"><img src="presentopen.gif">
        </div>

        <div class="form-group">
            <input id="input" type="text" name="search" class="form-control"
                placeholder="i.e. camping, music or leave it blank">
        </div>
        <span id="fake-age-span">
            <input id="fake-age" type="text" name="fake-age" class="form-control">
        </span>
        <span id="fake-occasion-span">
            <input id="fake-occasion" type="text" name="fake-occasion" class="form-control">
        </span>


        <br>
        <br>
        <button type="submit" class="submit-btn ripple default-mode"> surprise me! <span
                class="emoji">🤩</span></button>

        <br />
        <br />


    </form>


    <script>
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value;

        slider.oninput = function () {
            output.innerHTML = this.value;
        }


        $("button[type=submit]").click(function () {
            document.getElementById('giftGif').style.display = "block";
            setTimeout(function () {
                document.getElementById('giftGif').style.display = "none";
            }, 5000);
            $(document).ready(function () {
                var elmnt = document.getElementById("results-begin");
                elmnt.scrollIntoView();
            });

        });

        jQuery("button[type=button]").click(function () {
            jQuery(this).toggleClass('active');
            jQuery(this).toggleClass('button-clicked');

            var fired_button = $(this).val();
            if (this.className.includes("age")) {
                document.getElementById("fake-age").value = fired_button;
                document.getElementById("fake-age").innerHTML = this.value;
            }
            else if (this.className.includes("occasion")) {
                document.getElementById("fake-occasion").value = fired_button;
                document.getElementById("fake-occasion").innerHTML = this.value;
            }
        });


        $("#slider").slider({
            min: 0,
            max: 100,
            step: 1,
            values: [10, 90],
            slide: function (event, ui) {
                for (var i = 0; i < ui.values.length; ++i) {
                    $("input.sliderValue[data-index=" + i + "]").val(ui.values[i]);
                }
            }
        });

        $("input.sliderValue").change(function () {
            var $this = $(this);
            $("#slider").slider("values", $this.data("index"), $this.val());
        });



    </script>

    <br>
    <br>



    <form class="form-inline global-search">
        {% if data %}
        <h1 id="results-begin">{{output_message}}</h1>
        <br>
        <br>
        <div id="results">{% for d in data %}</div>
        <br>
        <div class="container result-box">
            <div class="row">
                <div class="col-sm-6 info-box">
                    <!--title-->
                    <p class="product-title">{{d[1]}}</p>

                    <!-- price -->
                    <p class="product-price">{{d[7]}}</p>

                    <!--image-->
                    {% set list1 = d[6].split(',') %}
                    <!-- <p>{{list1}}</p> -->
                    <!-- <img src="{{list1[0].replace('[', '').replace('\'','')}}"> -->
                    <img class="product-img" src="http://images.amazon.com/images/P/{{d[0]}}.01._SCTZZZZZZZ_.jpg">
                    <!-- <img src="https://images-na.ssl-images-amazon.com/images/I/61YCLJ6BNML.jpg"> -->
                </div>

                <div class="col-sm-6 data-box">
                    <div class="review-box">
                        <p class="review-text"><span class="make-bold"> {{d[2]}}</span> {{d[4]}} </p> <!-- review 1-->
                        <p class="review-text"><span class="make-bold"> {{d[3]}}</span> {{d[5]}} </p> <!-- review 2-->
                    </div>

                    <div class="link-box">

                        <a href="http://www.amazon.com/dp/{{asins[loop.index - 1]}}">Click here for the Amazon link</a>
                    </div>
                </div>
            </div>




            {% endfor %}
            {% endif %}
    </form>




</body>

</html>